@use './scss/header.scss';
@use './scss/heroSection.scss';
@use './scss/services.scss';
@use './scss/cleaningSections.scss';
@use './scss/gallery.scss';
@use './scss/advantages.scss';
@use './scss/reviews.scss';
@use './scss/contacts.scss';
@use './scss/form.scss';

@use './scss/base.scss';
@use './scss/animation.scss';
