.cleaning {
  padding-top: 80px;
  background-color: #fff;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    background-color: var(--color-bg-light);
  }

  &__title {
    margin-bottom: 8px;
    font-size: 32px;
    text-align: сутеук;
    color: var(--color-primary);
  }

  &__subtitle {
    max-width: 80%;
    margin: 0 0 12px 0;
    text-align: left;
    color: var(--color-bg-dark);
  }

  &__tabs {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0 0 24px 0;
    flex-wrap: wrap;

    .cleaning__tab {
      padding: 10px 16px;
      border-radius: 8px;
      background: transparent;
      cursor: pointer;
      color: var(--color-bg-dark);
      background-color: var(--color-white);
      border: 1px solid rgba(0, 0, 0, 0.06);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      transition: 200ms ease;

      &:hover {
        filter: brightness(0.95);
      }
      &.active {
        background: var(--color-primary);
        color: var(--color-white);
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__content {
    width: 100%;
  }
}

.cleaningBlock {
  display: none;

  &.active {
    display: block;
  }

  &__inner {
    display: flex;
    gap: 44px;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .cleaningItem {
      display: flex;
      align-items: center;
      padding: 12px 14px;
      border-radius: 8px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.04);
      transition: 160ms ease;
      cursor: pointer;

      h3 {
        font-size: 16px;
        margin: 0;
      }

      &:hover {
        filter: brightness(0.95);
      }
      &.active {
        background: var(--color-primary);
        color: var(--color-white);
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__right {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 55%;
    min-width: 50%;
  }

  .cleaningDesc {
    display: none;
    flex-direction: column;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    gap: 16px;

    h3 {
      color: var(--color-primary);
      margin: 0px 0 12px 0;
      align-self: flex-start;
    }

    img {
      max-width: 260px;
      height: auto;
      margin: 0 auto;
    }

    &__button {
      padding: 12px 24px;
      border-radius: 4px;
      width: 180px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
      border: none;
      background-color: var(--color-primary);
      color: var(--color-white);
      text-decoration: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      transition: filter 0.2s ease, box-shadow 0.2s ease;

      &:hover {
        filter: brightness(1.1);
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .cleaningDesc.active {
    display: flex;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .cleaningDesc {
    &.wide {
      grid-column: 1 / -1;
    }
  }

  @media (max-width: 900px) {
    &__inner {
      flex-direction: column;
    }
    &__left {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
    &__right {
      width: 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 420px) {
    &__left {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
