.reviews {
  padding: 60px 0;
  content-visibility: auto;
  contain-intrinsic-size: 0 800px;

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-bg-brand);
  }

  &__controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__arrow {
    pointer-events: all;
    background: #fff;
    border: none;
    font-size: 28px;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    z-index: 20;

    &:hover {
      background: #efefef;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__viewport {
    overflow: hidden;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: pan-y;
    -webkit-touch-callout: none;
  }

  &__track {
    display: flex;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    touch-action: pan-y;
    -webkit-user-select: none;
    user-select: none;
  }

  &__card {
    flex: 0 0 calc(33.333% - 20px);
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    min-height: 520px;
    max-height: 520px;
    cursor: grab;
    -webkit-cursor: grab;
    will-change: initial;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    touch-action: manipulation;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      cursor: grabbing;
      -webkit-cursor: grabbing;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      display: block;
      border-radius: 12px;
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none;
      -webkit-user-drag: none;
    }
  }

  @media (max-width: 1024px) {
    &__card {
      flex: 0 0 calc(50% - 15px);
      height: 450px;
    }
  }

  @media (max-width: 768px) {
    &__track {
      gap: 20px;
    }

    &__card {
      flex: 0 0 calc(100% - 20px);
      height: 420px;
    }

    &__controls {
      display: none;
    }
  }

  @media (max-width: 480px) {
    &__card {
      height: 380px;
    }

    &__track {
      gap: 15px;
    }
  }
}
